<h2 class="animated fadeIn fast">About Commic App</h2>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui quae, reiciendis, velit fugiat aliquam quisquam neque
  placeat et quia tenetur, delectus nobis rerum minima in dignissimos dicta! Earum, necessitatibus eius! <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quis impedit id tempora, tempore, aliquid rem
  aspernatur cum, eaque adipisci laudantium perferendis officia dolorum. Possimus architecto similique repellat illum
  aspernatur.
</p>